extends layout

block content
  h1= title
  p Welcome to Sowmya Maddikunta's index page
  button(type='button' class='btn btn-info btn-lg' onclick='doBump()') Press Me
  div#bump Bump the count

  a(href='/television') Televison




  script.
   var count = 0
   var bump = 1
   function doBump() {
     count = count + bump 
     bump = bump + 1
     document.getElementById("bump").innerHTML = "Count "+ count +" Bump "+bump;
     }
